.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    margin-top: 10px;
    transform: translate(-50%, -50%);
    }
    input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgba(255,230,177,1);
    background: -moz-linear-gradient(45deg, rgba(255,230,177,1) 25%, rgba(255,244,217,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(25%, rgba(255,230,177,1)), color-stop(100%, rgba(255,244,217,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,230,177,1) 25%, rgba(255,244,217,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,230,177,1) 25%, rgba(255,244,217,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,230,177,1) 25%, rgba(255,244,217,1) 100%);
    background: linear-gradient(45deg, rgba(255,230,177,1) 25%, rgba(255,244,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe6b1 ', endColorstr='#fff4d9 ', GradientType=1 );
    height: 10px;
    border-radius: 5px;
    }
    input[type=range]:focus {
    outline: none;
    }
    input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: rgba(255,230,177,1);
    background: -moz-linear-gradient(45deg, rgba(255,230,177,1) 25%, rgba(255,244,217,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(25%, rgba(255,230,177,1)), color-stop(100%, rgba(255,244,217,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,230,177,1) 25%, rgba(255,244,217,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,230,177,1) 25%, rgba(255,244,217,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,230,177,1) 25%, rgba(255,244,217,1) 100%);
    background: linear-gradient(45deg, rgba(255,230,177,1) 25%, rgba(255,244,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe6b1 ', endColorstr='#fff4d9 ', GradientType=1 );
    height: 10px;
    border-radius: 5px;
    }
    input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 5px;
    background-color: #1d1c25;
    cursor: -webkit-grab;
    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
    }
    input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 5px;
    background-color: #424143;
    cursor: -moz-grab;
    -moz-transition: border 1000ms ease;
    transition: border 1000ms ease;
    }
    .range.custom::-webkit-slider-thumb {
    border-color: rgb(255,230,177);
    }
    /* .range.ltpurple::-webkit-slider-thumb {
    border-color: rgb(255,244,217);
    }
    .range.purple::-webkit-slider-thumb {
    border-color: rgb(152,68,183);
    }
    .range.pink::-webkit-slider-thumb {
    border-color: rgb(255,53,127);
    } */
    .range.custom::-moz-range-thumb {
    border-color: rgb(255,230,177);
    }
    /* .range.ltpurple::-moz-range-thumb {
    border-color: rgb(255,244,217);
    }
    
    .range.purple::-moz-range-thumb {
    border-color: rgb(152,68,183);
    }
    .range.pink::-moz-range-thumb {
    border-color: rgb(255,53,127);
    } */
    input[type=range]::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
    }
    input[type=range]::-moz-range-thumb:active {
    cursor: -moz-grabbing;
    }